node_modules/
.pnpm-store/

# Build output
dist/
.next/
out/
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Vercel / Fly
.vercel
.fly/
